<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emission Form</title>
</head>
<body>
    <h1>Emission Form</h1>
    <form th:action="@{/add_emission}" method="post">
      <label for="seriesName">Series Name:</label><br>
        <input type="text" id="seriesName" name="seriesName"><br>

        <label for="seriesCode">Series Code:</label><br>
        <input type="text" id="seriesCode" name="seriesCode"><br>

        <label for="countryName">Country Name:</label><br>
        <input type="text" id="countryName" name="countryName"><br>

        <label for="countryCode">Country Code:</label><br>
        <input type="text" id="countryCode" name="countryCode"><br>

        <label for="yr2024">YR2024:</label><br>
        <input type="text" id="yr2024" name="yr2024"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html> -->










<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    body {
      background-image: url('/img/sphere-with-trees.jpg'); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #1e0000;
    }
    .navbar {
      background-color: #333;
    }
    .navbar-brand, .navbar-text {
      color: #fff;
    }
  </style>
</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/adminemissions">Herausgeber</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emissions">Datensatz bearbeiten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_emission">Datensatz eintragen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Startseite</a>
        </li>
        <div sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/logout" th:action="@{/logout}" >Abmelden</a>
      </div>
      </ul>
    </div>
  </nav>
  


<div class="container bg-white mt-4 p-3 rounded p-4">
    <h2 class="mb-4">Insert Emissionen </h2>
    <form th:action="@{/add_emission}" method="post">
        <div class="form-group">
            <label for="seriesName">Series Name:</label>
            <input type="text" class="form-control" id="seriesName" name="seriesName" required>
        </div>

        <div class="form-group">
            <label for="seriesCode">Series Code:</label>
            <input type="text" class="form-control" id="seriesCode" name="seriesCode" required>
        </div>

        <div class="form-group">
            <label for="countryName">Country Name:</label>
            <input type="text" class="form-control" id="countryName" name="countryName">
        </div>

        <div class="form-group">
            <label for="countryCode">Country Code:</label>
            <input type="text" class="form-control" id="countryCode" name="countryCode">
        </div>

        <div class="form-group">
            <label for="yr2024">YR2024:</label>
            <input type="text" class="form-control" id="yr2024" name="yr2024">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  


</body>
</html>
